<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.zcy.dao.LogDao">
    <insert id="addLog">
       insert into yx_log values(#{id},#{adminName},#{times},#{description},#{status})
   </insert>
    <select id="queryAll" resultType="Log">
        select * from yx_log
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(id) from yx_log
    </select>
</mapper>